* {
  box-sizing: border-box; }

ul {
  list-style: none; }

p {
  color: #797e83;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%; }

.grid__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.grid__col--12.theme__colors {
  background-color: #61EDBF;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1.5em;
  color: #0b0b0b;
  text-align: left;
  padding: 8px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.grid__col--6.theme__colors {
  background-color: #00e5e6;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1.5em;
  color: #0b0b0b;
  text-align: left;
  padding: 8px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.grid__col--4.theme__colors {
  background-color: #00FFFF;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1.5em;
  color: #0b0b0b;
  text-align: left;
  padding: 8px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.grid__col--3.theme__colors {
  background-color: #eadefc;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1.5em;
  color: #0b0b0b;
  text-align: left;
  padding: 8px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.grid__col--5.theme__colors {
  background-color: #bdf7c7;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1.5em;
  color: #0b0b0b;
  text-align: left;
  padding: 8px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.grid__col--7.theme__colors {
  background-color: #f7bdc3;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1.5em;
  color: #0b0b0b;
  text-align: left;
  padding: 8px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.grid__col--8.theme__colors {
  background-color: #fa9152;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1.5em;
  color: #0b0b0b;
  text-align: left;
  padding: 8px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.headline--primary {
  color: #61EDBF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 1em; }

.headline--secondary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #797e83;
  padding-bottom: 1.5em;
  padding-top: 3em;
  margin-bottom: 0px;
  align-self: left; }

.link {
  color: #00e5e6;
  text-decoration: none;
  font-weight: 700; }

.blockquote {
  border-left: solid 9px #61EDBF;
  padding-left: 1.5em;
  font-style: italic;
  font-size: 1.2em;
  border-bottom: 4em; }

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  padding-bottom: 3.5em; }
  .nav__item {
    padding-top: 20px; }
    .nav__item a {
      text-decoration: none;
      color: #0b0b0b;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 100%;
      padding: 10px 100px;
      border-radius: 8px; }
      .nav__item a:hover {
        background-color: #61EDBF;
        color: #fff; }

.img--logo {
  align-self: center;
  height: 50px; }
.img--frame {
  width: 100%;
  border: solid 0.5px #797e83;
  padding: 0.5em;
  margin-bottom: 1.5em; }
.img--avatar {
  height: 199px;
  width: 199px;
  align-self: center; }

.btn--default {
  background-color: #00e5e6;
  text-transform: uppercase;
  width: 90%;
  margin-top: 1.5em;
  color: #fff;
  padding: 10px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.btn--success {
  background-color: #61ED7A;
  text-transform: uppercase;
  width: 90%;
  margin-top: 1.5em;
  color: #fff;
  padding: 10px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.btn--error {
  background-color: #ED6170;
  text-transform: uppercase;
  width: 90%;
  margin-top: 1.5em;
  color: #fff;
  padding: 10px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.btn--warning {
  background-color: #DF5807;
  text-transform: uppercase;
  width: 90%;
  margin-top: 1.5em;
  color: #fff;
  padding: 10px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.btn--info {
  background-color: #9254ED;
  text-transform: uppercase;
  width: 90%;
  margin-top: 1.5em;
  color: #fff;
  padding: 10px 100px;
  border-radius: 8px;
  border: 0px;
  font-weight: 700; }

.form {
  display: flex;
  flex-direction: column; }
  .form__input {
    border: 0px;
    border-bottom: 5px solid #61EDBF;
    padding-top: 2em;
    padding-bottom: 0.75em; }
  .form__label--hidden {
    display: none; }

input::placeholder {
  font-weight: 700;
  color: #616468; }

/*# sourceMappingURL=styles.css.map */
