//******************************************************************************
// Buttons
//******************************************************************************
//loop through each color in the palette and create a button for that see sass
//maps page

@each $key, $value in $button-palette {
  .btn--#{$key}{
    background-color: $value;
    text-transform: uppercase;
    width: 95%;
    margin-top: 1.5em;
    margin-left: 0.5em;
    color: $white;
    padding: 10px 100px;
    border-radius : 8px;
    border: 0px;
    font-weight: $font-weight--bold;
    @include mq(large){
      padding: 10px 30px;
      margin-right: 2em;
    }
  }
}


// .btn--default{
//   text-transform: uppercase;
//   width: 100%;
//   margin-top: 1.5em;
//   //background-color: $aqua--dark;
//   color: $white;
//   padding: 10px 100px;
//   border-radius : 8px;
//   border: 0px;
//   font-weight: $font-weight--bold;
//   background-color: map-get($button-palette, default);
// }
// .btn--success{
//   //background-color: map-get($button-palette, success);
//   @at-root{
//     .theme__colors {
//         background-color: map-get($button-palette, success);
//     }
//   }
// }
.btn--error{

}
.btn--warning{

}
.btn--info{

}
//you need to make a map in the variables file with all the colors
//then you need to make theme__colors nested but output at the same level of the
//button default class. then output the color for default from the map.  try this.
.theme__colors{

}
