//******************************************************************************
// Buttons
//******************************************************************************


@each $key, $value in $button-palette {
  .btn--#{$key}{
    background-color: $value;
    text-transform: uppercase;
    width: 95%;
    margin-top: 1.5em;
    margin-left: 0.5em;
    color: $white;
    padding: 10px 100px;
    border-radius : 8px;
    border: 0px;
    font-weight: $font-weight--bold;
    @include mq(large){
      padding: 10px 30px;
      margin-right: 1em;
    }
  }
}
