//******************************************************************************
// Forms
//******************************************************************************

.form {
  @include flexProperty(column);
  @include e(input){
    border: 0px;
    border-bottom: 5px solid $turquoise-blue;
    padding-top: 2em;
    padding-bottom: 0.75em;
  }
  //fixing the problem has something to do with the max width
  @include mq(large){
    margin-bottom: 3em;
    align-self: center;
    //padding-right: 30px;

  }
  @include e(label){
    @include m(hidden){
      display: none;
    }
  }
}

input::placeholder{
  font-weight: $font-weight--bold;
  color: darken($grey, 10%);

}
