//******************************************************************************
// Grid
//******************************************************************************

.container {
  @include flexProperty(column);
  align-items: center;
  padding-left:5%;
  padding-right:5%;
}
.grid__row{
  @include flexProperty(column);
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

@each $key, $value in $grid-palette {
   .grid__col--#{$key}.theme__colors{
    background-color: $value;
    width: 100%;
    margin-top: 0.5em;
    color: darken($grey, 10%);
    text-align: left;
    padding: 8px 17px;
    border-radius : 8px;
    border: 0px;
    font-weight: $font-weight--bold;
    font-size: 12px;

  }
}
