//******************************************************************************
// Grid
//******************************************************************************

.container {
  @include flexProperty(column);
  align-items: center;
  padding-left:5%;
  padding-right:5%;
}
.grid__row{
  @include flexProperty(column);
  align-items: center;
  width: 100%;
  margin-top: 2em;
  @include mq(large){
    @include flexProperty(row);
    //REIMPLEMENT this! the justify content but only for the troublesome grid row
     //justify-content: space-between;
  }
}

.card {
  @include mq(large){
    //margin-right: 1.5em;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    max-width: 500px;
    //justify-content: space-around;
  }
}

.grid__col--8{
  @include mq(large){
    & p, blockquote{
     margin-right: 4em;
   }
  }
}



@each $key, $value in $grid-palette {
   .grid__col--#{$key}.theme__colors{
    background-color: $value;
    width: 100%;
    margin-top: 0.5em;
    color: darken($grey, 10%);
    text-align: left;
    padding: 8px 17px;
    border-radius : 8px;
    border: 0px;
    font-weight: $font-weight--bold;
    font-size: 12px;

  }
}
