//******************************************************************************
// Images
//******************************************************************************

.img{
  &--logo{
    align-self: center;
    height: 50px;
  }
  &--frame {
    //max-width: 480px;
    display: none;
  }
}
