//******************************************************************************
// Images
//******************************************************************************

.img{
  &--logo{
    align-self: center;
    height: 50px;
    @include mq(large){
      margin-right: 12em;
    }
  }
  &--frame {
    //max-width: 480px;
    //display: none;
    width: 100%;
    border: solid 0.5px $grey;
    padding: 0.5em;
    margin-bottom: 1.5em;
    @include mq(large){
      
    }
  }
  &--avatar{
    height: 199px;
    width: 199px;
    align-self: center;
    @include mq(large){
      margin-right: 30px;
    }
  }
}
