//******************************************************************************
// Typography
//******************************************************************************

// .container
// .link
// .blockquote
// .headline--primary{
//   font-family: $font-family--primary;
//   color: $grey;
// }
.headline--primary{
  color: $turquoise-blue;
  font-family: $font-family--primary;
  padding-left: 1em;
}
.headline--secondary{
  font-family: $font-family--primary;
  font-weight: $font-weight--thin;
  color: $grey;
  padding-bottom: 1.5em;
  padding-top: 3em;
}
.container{}

.link{
  color: $aqua--dark;
  text-decoration: none;
  font-weight: $font-weight--bold ;
}
.blockquote{
  border-left : solid 9px $turquoise-blue;
  padding-left:  1.5em;
  font-style: italic;
  font-size: 1.2em;
  border-bottom: 4em;
}
