//******************************************************************************
// Typography
//******************************************************************************

.headline--primary{
  color: $turquoise-blue;
  font-family: $font-family--primary;
  padding-left: 0.5em;
  font-size: 1.5em;
  @include mq(large){
     font-size: 1.2em;
     width: 90%;
  }
}
.headline--secondary{
  font-family: $font-family--primary;
  font-weight: $font-weight--thin;
  color: $grey;
  padding-bottom: 0.7em;
  padding-top: 1.5em;
  margin-bottom: 0px;
  align-self: left;
}

.link{
  color: $aqua--dark;
  text-decoration: none;
  font-weight: $font-weight--bold ;
}
.blockquote{
  border-left : solid 9px $turquoise-blue;
  padding-left:  1.5em;
  font-style: italic;
  font-size: 1.2em;
  border-bottom: 4em;
}
